Repository webb-tools/dkg-substrate, pull requests merged in 2023-07, with the labels that each got.

#657 Reduce function args to acknowledge proposal/reject proposal
  dkg-test-suite/package.json
  dkg-test-suite/tests/maxDepositLimitProposal.test.ts
  dkg-test-suite/tests/proposals.test.ts
  dkg-test-suite/tests/updateAnchorProposal.test.ts
  dkg-test-suite/tests/utils/setup.ts
  dkg-test-suite/yarn.lock
  pallets/dkg-metadata/src/tests.rs
  pallets/dkg-proposals/src/lib.rs
  pallets/dkg-proposals/src/tests.rs
  types/package.json
  types/scripts/updateMetadata.ts
  types/src/interfaces/augment-api-consts.ts
  types/src/interfaces/augment-api-errors.ts
  types/src/interfaces/augment-api-events.ts
  types/src/interfaces/augment-api-query.ts
  types/src/interfaces/augment-api-rpc.ts
  types/src/interfaces/augment-api-runtime.ts
  types/src/interfaces/augment-api-tx.ts
  types/src/interfaces/augment-api.ts
  types/src/interfaces/augment-types.ts
  types/src/interfaces/lookup.ts
  types/src/interfaces/types-lookup.ts
  types/src/metadata/metadata.json
  types/src/metadata/static-latest.ts
  types/yarn.lock
  yarn.lock
Labels: Breaks API

#667 Add caps to enqueued tasks, add priority tasks, add logging to clone/drop
  dkg-gadget/src/async_protocols/remote.rs
  dkg-gadget/src/keygen_manager/mod.rs
  dkg-gadget/src/signing_manager/mod.rs
  dkg-gadget/src/signing_manager/work_manager.rs
  dkg-test-suite/yarn.lock
  scripts/insert_keys.sh
  scripts/run-local-testnet.sh
  standalone/node/src/chain_spec.rs
Labels: In testnet

#624 Implement signing for batches of proposals
  Cargo.lock
  dkg-gadget/src/async_protocols/blockchain_interface.rs
  dkg-gadget/src/async_protocols/incoming.rs
  dkg-gadget/src/async_protocols/keygen/handler.rs
  dkg-gadget/src/async_protocols/keygen/state_machine.rs
  dkg-gadget/src/async_protocols/mod.rs
  dkg-gadget/src/async_protocols/sign/handler.rs
  dkg-gadget/src/async_protocols/sign/state_machine.rs
  dkg-gadget/src/async_protocols/state_machine.rs
  dkg-gadget/src/async_protocols/state_machine_wrapper.rs
  dkg-gadget/src/async_protocols/test_utils.rs
  dkg-gadget/src/lib.rs
  dkg-gadget/src/proposal.rs
  dkg-gadget/src/signing_manager/mod.rs
  dkg-gadget/src/storage/proposals.rs
  dkg-gadget/src/worker.rs
  dkg-mock-blockchain/src/server.rs
  dkg-runtime-primitives/src/lib.rs
  dkg-runtime-primitives/src/proposal.rs
  dkg-test-orchestrator/Cargo.toml
  dkg-test-orchestrator/src/dummy_api.rs
  pallets/dkg-metadata/src/lib.rs
  pallets/dkg-metadata/src/mock.rs
  pallets/dkg-proposal-handler/rpc/runtime-api/src/lib.rs
  pallets/dkg-proposal-handler/rpc/src/lib.rs
  pallets/dkg-proposal-handler/src/benchmarking.rs
  pallets/dkg-proposal-handler/src/functions.rs
  pallets/dkg-proposal-handler/src/impls.rs
  pallets/dkg-proposal-handler/src/lib.rs
  pallets/dkg-proposal-handler/src/mock.rs
  pallets/dkg-proposal-handler/src/tests.rs
  pallets/dkg-proposals/src/lib.rs
  pallets/dkg-proposals/src/mock.rs
  standalone/node/src/chain_spec.rs
  standalone/node/src/command.rs
  standalone/runtime/Cargo.toml
  standalone/runtime/src/lib.rs
  types/src/interfaces/augment-api-consts.ts
  types/src/interfaces/augment-api-errors.ts
  types/src/interfaces/augment-api-events.ts
  types/src/interfaces/augment-api-query.ts
  types/src/interfaces/augment-api-tx.ts
  types/src/interfaces/lookup.ts
  types/src/interfaces/registry.ts
  types/src/interfaces/types-lookup.ts
  types/src/metadata/metadata.json
  types/src/metadata/static-latest.ts
Labels: needs review 👓, Breaks API, In testnet, Testnet Passed

#671 Bootstrap relayer gadget
  Cargo.lock
  Cargo.toml
  flake.nix
  relayer-gadget/Cargo.toml
  relayer-gadget/cli/Cargo.toml
  relayer-gadget/cli/src/lib.rs
  relayer-gadget/config/README.md
  relayer-gadget/config/simple.toml
  relayer-gadget/src/lib.rs
  standalone/node/Cargo.toml
  standalone/node/src/cli.rs
  standalone/node/src/command.rs
  standalone/node/src/service.rs
Labels: needs review 👓

#686 Fix DKG Events
  Cargo.lock
  pallets/dkg-metadata/src/lib.rs
  scripts/run-local-testnet.sh
Labels: Breaks API

#690 [fix] improvements to proposal handling
  dkg-gadget/src/constants.rs
  dkg-gadget/src/gossip_engine/network.rs
  dkg-gadget/src/keygen_manager/mod.rs
  dkg-gadget/src/lib.rs
  dkg-gadget/src/signing_manager/mod.rs
  dkg-gadget/src/worker.rs
  dkg-test-orchestrator/src/main.rs
  pallets/dkg-proposal-handler/src/functions.rs
  pallets/dkg-proposal-handler/src/lib.rs
Labels: Breaks API, In testnet
